.products-container  {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
}

@media (max-width: 1250px) {
  .products-container{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 620px) {
  .products-container{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .products-container{
    grid-template-columns: repeat(1, 1fr);
  }
}
